body {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Assure que le body occupe toute la hauteur de la fenêtre */
}


.game {
    display: flex;   
    border: 5px solid;
    flex-direction: column;
}

#snakeboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
  }

.stat {
    height: 50px;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction:row;
}

.score {
    width: 50%;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
}

.record {
    width: 50%;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
}

.snake {
    height: 20px;
    width: 20px;
    background-color:green;
    position:absolute;

}

